* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    background-color: rgb(237,237,238);
    position: relative;
    justify-content: center;
}

h3{
    letter-spacing: 5px;
    font-size: 17px;
    align-self: center;
    margin-bottom: 20px;
}

#main{
    min-width: 980px;
    width: 93.9%;
    height: 916px;
    background-color:rgba(0,0,0,0) ;
    margin: auto;
    z-index: 1;
}


.bg1{
    top: 0;
    position: fixed;
    height: 916px;
    width: 93.8%;
    margin: auto;
    z-index: -1;
}

#header{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 3;
}

#top-bar{
    display: flex;
    min-width: 980px;
    width: 93.9%;
    justify-content: space-between;
    height: 56px;
    align-items: center;
    background-color: #f9fafa;
}

.search-cont{
    display: flex;
    position: relative;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
}

.search-cont input{
    width: 211px;
    height: 40px;
    background: #f9fafa;
    border: none;
    font-size: 10pt;
    float: left;
    color: #A05841;
    padding-left: 45px;
    outline: none;
    margin-left: 10px;
}

::placeholder {
    color: #A05841;
    opacity: 1; 
  }

.search-cont input:focus,
.search-cont input:hover{
    border: 1px solid #A05841;
}

.ti-search{
    position: absolute;
    top: 0px;
    margin-left: 17px;
    margin-top: 12px;
    z-index: 1;
    color: #A05841;
}

.login-cont{
    display: flex;
    height: 40px;
    width: 150px;
    margin-right: 20px;
}

.login{
    display: flex;
    align-items: center;
    width: 120px;
    cursor: pointer;
}

.bi-person-circle{
    
    color: #A05841;
    margin-left: 10px;
    margin-right: 10px;
}

.login p{
    font-size: 15px;
    color: #A05841;
}

.login:hover > .login-btn{
    color: #dba08c;
    font-size: 18px;
}

.login:hover > .bi-person-circle{
    color: #dba08c;
    
}

.cart{
    display: flex;
    align-items: center;
}

.bi-cart3{
    color: #A05841;
    margin-left: 0px;
}

.bi-cart3:hover{
    color: #dba08c;
    height: 26px;
    width: 26px;
    cursor: pointer;
}

#nav-bar{
    position: relative;
    display: flex;
    justify-content: space-between;
    min-width: 980px;
    width: 93.9%;
    height: 60px;
    background-color: rgb(237,237,238);
    align-items: center;
}

.nav{
    display: flex;
}

.logo-cont{
    width: 200px;
}

.nav-item{
    position: relative;
    display: flex;
    width: 90px;
    height: 60px;
    align-items: center;
    justify-content: center;
}


.nav-item a{
    text-decoration: none;
    color: #A05841;
}

.nav-item:hover,
.nav-item:hover>a{
    background-color: #A05841;
    color: #f9fafa;
    cursor: pointer;
}

.subnav{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    top: 116px;
    list-style-type: none;
    height: 90px;
    width: 90px;
    background-color: #f9fafa;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


.shop-btn:hover .subnav{
    display: flex;
}


.subnav li{
    display: flex;
    height: 30px;
    width: 90px;
    align-items: center;
    padding: 0 10px 0 10px;
}

.subnav li:hover{
    background-color: #A05841;
    cursor: pointer;
}

.subnav li:hover > a{
    color: #f9fafa;
}

.subnav li a{
    color: #A05841;
}

.phone-cont{
    display: flex;
    align-items: center;
    margin-right: -10px;
    width: 323px;
    height: 100%;
}

.text-1{
    background-color: rgb(237,237,238);
    
    width: 100%;
    position: absolute;
    color: #A05841;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-size: 18px;
    font: bold;
}

.text-2{
    background-color: rgb(237,237,238);
    
    width: 100%;
    position: absolute;
    color: #A05841;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-size: 18px;
    font: bold;
}

#slider{
    display: flex;
    position: relative;
    height: 916px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
}


.text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(0,0,0,0);
    z-index: 1;
}

.text-logo{
    color: #f9fafa;
}

.text-content h1{
    font-size: 112px;
    color: #f9fafa;
}

.text-content p{
    color: #f9fafa;
}

.btn1 {
    background-color: #A05841;
    border: none;
    height: 40px;
    width: 181px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn1:hover{
    
    background-color: antiquewhite;
    color: #A05841;
    transition-duration: 0.4s;
}

#shop-container{
    position: relative;
    display: block;
    background-color: rgb(237,237,238);
    height: 3000px;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
}

#shop-container h1{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    height: 120px;
}

#all-item{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item-cont{
    height: 622px;
    width: 33.33333%;
    padding: 25px;
}

.item-image{
    position: relative;
    height: 483px;
    width: 100%;
    
}

.quick-view{
    display: none;
    padding-top: 16px;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #f9fafa;
    color: #A05841;
}

.item-image:hover .quick-view{
    display: block;
    
}


.item-cont p{
    text-align: center;
    margin-top: 15px;
}

.price{
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 10px;
}



.new-pri{
    margin-left: 20px;
}

.add{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: #A05841;
    border: none;
    height: 40px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

